.card-container {
  border-radius: 5px;
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 20px;
  backface-visibility: hidden;

  background: #f09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
  border-radius: 50%;
  transform: translateZ(0);
  transition: transform 0.25s ease-in-out;
  border: 5px solid #fff;
}
img:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
